<li>
	{{name}}

	<button class="change-hungry" data-id="{{id}}" data-newsburger="{{hungry}}">
		{{#if hungry}}EATING TIME!{{else}}I'M FULL!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
